# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName www.beaguest.net
AuthUserFile /var/chroot/home/content/a/l/f/alfred9876/html/_vti_pvt/service.pwd
AuthGroupFile /var/chroot/home/content/a/l/f/alfred9876/html/_vti_pvt/service.grp
