vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Jul 2012 04:52:40 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|menus/hors2.htm menus/hors3.htm menus/menu2.htm menus/menu3.htm thankyou.html stats/REFERRER.html contact.htm corporate.htm menus/hors.htm menus/menu1.htm entrees.htm events.htm menus/bbq.htm menus/menu6.htm menus/menu7.htm menus/salads.htm menus/tuscan.htm weddings.htm testimonials.htm menus/app.htm menus/corplunch.htm menus/entrees.htm menus/menu4.htm menus/menu5.htm index.htm menus/menu8.htm menus/sides.htm thankyou.htm
vti_author:SR|alfred9876
vti_modifiedby:SR|MAMILES-WIN10VM\\mamiles
vti_nexttolasttimemodified:TW|05 Apr 2007 06:00:00 -0000
vti_timecreated:TR|17 Nov 2009 20:50:38 -0000
vti_syncwith_localhost\\c\:\\frontpage webs\\beaguest.net_new/c\:/frontpage webs/beaguest.net_new:TW|05 Apr 2007 06:00:00 -0000
vti_cacheddtm:TX|22 Jul 2012 04:52:40 -0000
vti_filesize:IR|4107
vti_cachedlinkinfo:VX|S|images/sidert.gif S|images/sidelft.gif
vti_cachedsvcrellinks:VX|FSUS|images/sidert.gif FSUS|images/sidelft.gif
